<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Icon</key>
	<string>Icon.png</string>
	<key>Icon-72</key>
	<string>Icon-72.png</string>
	<key>eyeball</key>
	<string>eyeball.png</string>
	<key>favoriteAdd</key>
	<string>favoriteAdd.png</string>
	<key>favoriteRemove</key>
	<string>favoriteRemove.png</string>
	<key>bg_sand</key>
	<string>bg_sand.png</string>
	<key>bt_pradot</key>
	<string>app-background.png</string>
	<key>users</key>
	<string>users.png</string>
	<key>greenlight</key>
	<string>greenlight.png</string>
	<key>redlight</key>
	<string>redlight.png</string>
	<key>tag</key>
	<string>tag.png</string>
	<key>tagSelected</key>
	<string>tagSelected.png</string>
</dict>
</plist>
